/* subnet.css */

html,
body{
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
    background-color: #f8f8f8;

}

h1,h2,h3,h4,h5,h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img{
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

.blockquote-footer {
    margin: 1rem 0 0;
}



#stage {
    background: url(img/starry-sky-1654074_1920.jpg) center center no-repeat ;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: left;
}

#stage-caption h1 {
    color: white;
    font-weight: light;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

/*
.jumbotron {
text-align: center;
font-weight: 200;
font-size: 1.4rem;
margin: 0 auto;
padding: 1rem 0;
background-color: white;
white-space: pre-line
}

#jumbo1 h1 {
background-color: #f8f8f8

*/

.display-4 {
    color: #ff5252;
    font-family: 'Roboto',arial,sans-serif;
}

.server-color {
    color: #319908;
}

.consultancy-color {
    color: #E82C0C;
}


.sales-color {
    color: #544d00;
}
.web-color{
    color:;
}
.cyber-color {
    color:coral;
}

.cloud-color {
    color: #008AA8;
}



.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;

}

.section-heading-spacer-a {
    border: 0.5px solid #319908;

}


.section-heading-spacer-b {
    border: 1px solid #008aa8;

}
.section-heading-spacer-c {
    border: 1px solid #E82C0C;

}

.section-heading-spacer-d {
    border: 1px solid black;

}

.section-heading-spacer-e {
    border: 1px solid violet;

}

.section-heading-spacer-f {
    border: 1px solid #544d00;

}

.section-heading-spacer-g {
    border: 1px solid coral;

}
.container-section-a {
    padding: 20px;
    background-color: #f8f8f8;
    white-space: normal;
}

.container-section-b {
    padding: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: white-smoke;
}

.container-section-c {
    padding: 20px;
    background-color: #fff;

}

.cloud {
    max-width: 90rem;

}

.img-responsive {
    margin: 0 auto;
}
.centerBlock {
    display: table;
    margin: 0 auto;
}

.container-fluid{
    background-color: ##ffbc00;

}

.card{
    background: #fff
        border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;


}

.card-1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 0;

}

.card-2 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: none;
}

.card-3 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: none;
}

.google-yellow {
    background-color: #ffbc00;
}
.section-dark {
    color: #fff;
}
.section-blue {
    padding: 190px 0 190px;
    position: relative;
    background-color: #008aa8;
}

.text-align-center {
    text-align: center;
}
blockquote {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -.1px;
    line-height: 28px;
    margin: 0;
}




.font-medium {
    line-height: 24px;
}

.font-medium {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
blockquote+cite {
    display: block;
    margin: 30px 0 0;
}
cite {
    font-style: normal;
}

.section {
    padding: 88px 0 94px;
}

.card-bck-color{
    background-color: #ffbc00;
}
.google-red {
    background-color: #ff5252;
}

.google-blue {
    background-color: #448aff;
}

.whitespace{
    white-space: pre-line;
    background-color: #fff;
}

.card-text{
    font-family: 'Roboto', sans-serif;
}

/* 3rd section after yelloe*/

.light-gray {
    background-color: #f6f6f6;
}

.site-width {
    padding: 0 15px;
}

.flexbox .align-self-center {
    -webkit-align-self: center;
    -ms-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.images {
    margin-bottom: 35px;
    max-width: 100%;
}



/*  new cards */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
    box-sizing: border-box; }


a {
    text-decoration: none; }

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }




/*# sourceMappingURL=subnet.css.map */


/* new sections */


.client {
    background-color:#fff;
    text-align:center;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:1px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    border-right:px solid #f0f0f0;
    border-bottom:px solid #f0f0f0;
    cursor:pointer;
}


.client h3 {
    font-weight:100;
    margin-top:0px;
}


.client:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
    -moz-box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
    box-shadow: 10px 10px 91px 0px rgba(193,79,82,1);
    z-index:9999;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    cursor:pointer;
    background-color:#fff;
}
