/* subnet.css */

html,
body{
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img{
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}



#stage {
    background: url(img/cover.jpg) center center no-repeat ;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: left;
}

#stage-caption h1 {
    color: white;
    font-weight: light;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

/*
.jumbotron {
    text-align: center;
    font-weight: 200;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: white;
    white-space: pre-line
}

#jumbo1 h1 {
    background-color: #f8f8f8

*/

.jumbo {
    background-color:
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;

}



}

.section-heading-spacer-a {
    border: 0.5px solid #319908;

}

.section-heading-spacer-b {
    border: 1px solid #00E4E8;

}
.section-heading-spacer-c {
    border: 1px solid #E82C0C;

}

.section-heading-spacer-d {
    border: 1px solid yellow;

}

.section-heading-spacer-e {
    border: 1px solid violet;

}

.container-section-a {
    white-space: pre-line;
    padding: 20px;
    background-color: #f8f8f8;
}

.container-section-b {
    padding: 20px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: white-smoke;
    white-space: pre-line;
}

.container-section-c {
    padding: 20px;
    background-color: #f8f8f8;
}

.cloud {
    max-width: 90rem;

}

.img-responsive {
    margin: 0 auto;
}
.centerBlock {
    display: table;
    margin: 0 auto;
}

.container-fluid{

    background-color: #f8f8f8;
    background: #f8f8f8;

}

.card{
    background: #fff
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;


}

.card-1 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;

}

.card-2 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}

.google-yellow {
    background-color: #ffbc00;
}
.section-dark {
    color: #fff;
}
.section {
    padding: 42px 0 44px;
    position: relative;
}

.text-align-center {
    text-align: center;
}
blockquote {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -.1px;
    line-height: 28px;
    margin: 0;
}

.font-medium {
    line-height: 24px;
}

.font-medium {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
blockquote+cite {
    display: block;
    margin: 30px 0 0;
}
cite {
    font-style: normal;
}

.section {
    padding: 88px 0 94px;
}

.google-red {
    background-color: #ff5252;
}

.whitespace{
    white-space: pre;
}
